# Entorno virtual
.venv/
env/
venv/

# Archivos de base de datos
*.sqlite3

# Archivos de migraciones
**/migrations/
!*/migrations/__init__.py

# Archivos de configuración de PyCharm/VSCode
.idea/
.vscode/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos de logs
*.log

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db